doctype html
html(lang ="en")
    head
        title Hello, world
        meta(charset="utf-8")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        //link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")

    body

        p Hello

        svg(class="icon")
            use(xlink:href="img/svg/symbol/sprites.svg#cancel")



    script(src="js/libs.min.js")
    script(src="js/main.js")